﻿aside {
    background-color: $mainDark;
    color: $text;
    font-size: 14px;
    width: 200px;

    &.right {
        float: right;
    }

    &.left {
        float: left;
    }


    h1 {
        text-transform: uppercase;
        font-size: 12px;
    }

    ul {
        list-style: none;
        font-weight: 500;
        margin-bottom: 30px;

        li {
            padding: 8px 0 8px 0;
        }
    }
}

.header {
    font-size: 18px;
    color: $white;
    padding-bottom: 18px;
    border-bottom: 1px solid $devider;
}

button {
    display: inline-block;
    padding: 8px 40px;
    margin-right: 12px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;

    &.green {
        background-color: $green;
    }

    &.dark {
        background-color: $mainDarkLight;
        border: 1px solid $text;
    }
}
