﻿.main-content {
    background-color: $mainDarkLight;
    padding: 32px;
    margin-left: 200px;
    // ------ User Header
    .user-header {
        margin-bottom: 14px;
        /*background-image: url("/images/bg.jpg");
        background-size: cover;*/
        .text-container {
            display: inline-block;

            .job {
                text-transform: uppercase;
                font-size: 12px;
                margin: 0;
                color: $white;
            }

            .name {
                font-size: 100px;
                font-weight: 600;
                line-height: 120px;
                color: $white;
            }

            .summary {
                font-size: 12px;
            }
        }
        // ------ User header menu
        ul {
            &.user-menu {
                list-style: none;
                padding: 0;
                margin-top: 20px;

                li {
                    display: inline-block;
                    padding: 12px;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 12px;
                    color: $text;

                    &:first-child {
                        padding-left: 0;
                    }

                    &.active {
                        color: $white;
                        border-bottom: 2px solid $green;
                    }
                }
            }
        }
    }

    .projects {
        color: $text;

        tr {
            &:hover {
                background-color: $hovered;
                cursor: pointer;
            }

            th {
                border-bottom: 1px solid $devider;
            }

            td {
                border-top: 1px solid $devider;
            }
        }
    }
}

.behance-item {
    display: inline-block;
    padding: 0 24px 10px 0;
    .image-dump {
        height: 211px;
        width: 211px;
        background-color: $white;
    }

    .title {
        font-size: 14px;
        color: $white;
    }

    .date {
        text-transform: uppercase;
        font-size: 12px;
        color: $text;
    }
}
