﻿.menu-bar {
    background-color: $mainDark;

    .top {
        height: 18px;

        button {
            float: right;
            @include clearfix();
            height: 100%;
            width: 43px;
            outline: none;
            // --------------- to be removed ----------
            color: $white;
            font-size: 4px;
            // ----------------------------------------
            &.minimize {
                background-color: inherit;
                border: none;
            }

            &.close {
                background-color: $darkRed;
            }
        }
    }

    .bottom {
        height: 31px;

        ul {
            list-style: none;
            margin: 0;
            font-size: 12px;
            color: $text;
            li {
                padding: 12px;
                display: inline-block;
                text-align: center;
            }
        }
    }
}
