﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CVonline</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body ng-app="cvonlineApp">
    <div class="menu-bar">
        <div class="top">
            <button class="close">x</button>
            <button class="minimize">_</button>  
        </div>
        <div class="bottom">
            <ul>
                <li>File</li>
                <li>Edit</li>
                <li>View</li>
                <li>Help</li>
            </ul>
        </div>
    </div>
    <aside class="left">
        <ul>
            <li>Browse</li>
            <li>Radio</li>
        </ul>
        <ul>
            <h1>Yout music</h1>
            <li>Your daily mix</li>
            <li>Songs</li>
            <li>Albums</li>
            <li>Artists</li>
            <li>Station</li>
            <li>Local files</li>
        </ul>
        <ul>
            <h1>Playlists</h1>
            <li>Discover weekly</li>
            <li>Werszawa ELO</li>
            <li>Coffe Table Jazz</li>
        </ul>
    </aside>
    <div class="main-content">
        

        <div class="user">



            <div class="user-header">
                @*<div class="image-dump"></div>*@
                <div class="text-container">
                    <p class="job">Front-End Developer</p>
                    <p class="name">MCalvin Harris</p> 
                    <p class="summary">7 proj * <span>2yrs experience</span></p>
                    <button class="green">Play</button>
                    <button class="dark">Save</button>
                </div>
                <ul class="user-menu">
                    <li class="active">Overview</li>
                    <li>Related Artists</li>
                    <li>About</li>
                    <li>Conterts</li>
                </ul>
            </div>



            <div class="projects">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Tags</th>
                            <th>Time</th>
                            <th>Like</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <th scope="row">1</th>
                            <td>Marc ocean - slide</td>
                            <td>Java</td>
                            <td>3:51</td>
                            <td>|||||</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Marc ocean - slide</td>
                            <td>Java</td>
                            <td>3:51</td>
                            <td>|||||</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Marc ocean - slide</td>
                            <td>Java</td>
                            <td>3:51</td>
                            <td>|||||</td>
                        </tr>
                    </tbody>
                </table>
            </div>






            <div class="behance">
                <p class="header">More by Calvin Harris</p>
                <div class="behance-item">
                    <div class="image-dump"></div>
                    <p class="title">Motion</p>
                    <p class="date">2016</p>
                </div>
                <div class="behance-item">
                    <div class="image-dump"></div>
                    <p class="title">Motion</p>
                    <p class="date">2016</p>
                </div>
                <div class="behance-item">
                    <div class="image-dump"></div>
                    <p class="title">Motion</p>
                    <p class="date">2016</p>
                </div>
            </div>
        </div>
    </div>
    <aside class="right">
        <p class="header">Friends activity</p>
    </aside>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CVonline</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - CVonline</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
